body {
    font-family: 'Lucida Console', monospace;
}

#indexheader {
    text-decoration: underline solid black 5px;
}

.container {
    background-color: rgb(165, 157, 157);
    padding: 2rem;
    margin: 20px;
    border-radius: 15px;
}

.container.recipe-descrip {
    background-color: white;
    text-align: center;
    font-style: italic;
}

#mainimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}